body {
  padding: 0;
  margin: 0;
  background: #bfd3e6;
}
.navbar {
  background:#32b9e2;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}